<%= render partial: 'posts/form', locals: { post: @post } %>

<h1>칠칠칠</h1>

<div class="scale">
    <div class="scale-up-center"></div>&nbsp;&nbsp;
    
    <div class="scale-up-center2"></div>&nbsp;&nbsp;
    
    <div class="scale-up-center3"></div>&nbsp;&nbsp;
    
    <div class="scale-up-center4"></div>&nbsp;&nbsp;
    
    <div class="scale-up-center5"></div>&nbsp;&nbsp;
    
    <div class="scale-up-center6"></div>&nbsp;&nbsp;
    
    <div class="scale-up-center7"></div>
</div>

<%= link_to '글쓰기', new_post_path %>

<footer id="dkFoot" class="foot_cheel">
    <div class="inner_foot">
        <span class="ico_cheel ico_logo"></span>
        <%= image_tag "logo_kor.png", size:"80x80", style: "background-position:-200px 0; position:absolute; vertical-align:top;" %>
        <!-- position:absoulute/ background-position:-200px 0; vertical-align: top; -->
        <!-- class: "mx-auto d-block" -->
        <div class="area_quotation">
            <q class="txt_quotation">Color your own color</q>
            <span class="txt_by">Cheel</span>
        </div>
    <ul class="list_info">
        <li>
            <a href="/policy/privacy" target="_blank" class="link_info">개인정보 처리방침</a>
        </li>
    </ul>
    <small class="txt_copyright">
        <a href="http://google.com" class="link_corp" target="_blank">(c) Cheel
        </a> 
    </small>
    </div>
</footer>
