
 
  <div class="block">
   <h2>Parallax Speed -1</h2></div>
  <div class="wrapper">
    
  <div class="box header">
    
  </div>
  
  <div class="box header2">
       
         
  </div>
  
  <div class="box header3">
        
  </div>
 
  <div class="box sidebar1"></div>
  <div class="box content1">오늘감정</div>
  <div class="box section1"></div>

  <div class="box sidebar2"></div>
  <div class="box content2">
        <div class="scale-up-center7"> <div class="cs">+</div> </div>
        
      
  </div>
  <div class="box section2"></div>

  <div class="box sidebar3">
      <div class="scale-up-center2"> <div class="cs">분노</div> </div>
      <div class="scale-up-center3"> <div class="cs">슬픔</div> </div>
  </div>
  <div class="box content3">
      <%= render partial: 'posts/form', locals: { post: @post } %>
      <%= link_to '글쓰기', new_post_path %>
  </div>
  <div class="box section3">
       <div class="scale-up-center4"> <div class="cs">역겨움</div> </div>
      <div class="scale-up-center5"> <div class="cs">두려움</div> </div>
  </div>

  <div class="box sidebar4"></div>
  <div class="box content4">
        <div class="scale-up-center6"> <div class="cs">놀람</div> </div>
        <div class="scale-up-center"> <div class="cs">기쁨</div> 
  </div>
  </div>
  <div class="box section4"></div>

  <div class="box sidebar5"></div>
  <div class="box content5">과거감정</div>
  <div class="box section5"></div>
</div>
  <!--<div class="box footer"> 
     <!-- <%= image_tag "logo_kor.png", size:"60x60"%>-->
  <!--    <br>-->
  <!--    Color your own color<br>-->
  <!--    Cheel</br>-->
  <!--    <a href="/policy/privacy" target="_blank" class="link_info">개인정보 처리방침</a>-->
  <!--      <small class="txt_copyright">-->
  <!--      <a href="http://google.com" class="link_corp" target="_blank">(c) Cheel-->
  <!--      </a> -->
  <!--      </small>  -->
  <!--</div>-->
  <!--</div>-->








       
     
