<!-- <div style="margin-top: 30px; background-color: #d5d5ff; padding: 20px;">
    <%# @posts.each do |x| %>
        <div class="row">
            <%#= link_to "#{x.title}", post_path(x) %>
            <div><%#= x.created_at.strftime("%Y년 %m월 %d일")%> 작성</div>
        </div>
    <%# end %>
</div>

<div class="first_scale"></div>&nbsp;&nbsp;

<%#= render partial: 'posts/form', locals: { post: @post } %>

<%#= link_to '달력', calendar_index_path %>
<%#= link_to '글쓰기', new_post_path %>
<%#= link_to '글보기', post_path(@posts) %>

$(document).ready(function() {
        $(".scale-up-center").click(function() {
            var color = $(".scale-up-center").css("background-color");
            $(".first_scale").css("background-color", color);
            
            var formData = new FormData();

            formData.append('color', color);
            
            $.ajax({
                  url: "/home/color",
                  type: 'POST',
                  data: formData,
                  success: function (data) {
                      console.log(data);
                  }
            });
        })
    })
</script>
-->
 
  <div class="block">
   <h2>Parallax Speed -1</h2></div>
  <div class="wrapper">

  <div class="box header">
    
  </div>
  
  <div class="box header2">
       
         
  </div>
  
  <div class="box header3">
        
  </div>
 
  <div class="box sidebar1"></div>
  <div class="box content1">오늘감정</div>
  <div class="box section1"></div>

  <div class="box sidebar2"></div>
  <div class="box content2">
        <div class="scale-up-center7"> <div class="cs">+</div> </div>
        
      
  </div>
  <div class="box section2"></div>

  <div class="box sidebar3">
      <div class="scale-up-center2"> <div class="cs">분노</div> </div>
      <div class="scale-up-center3"> <div class="cs">슬픔</div> </div>
  </div>
  <div class="box content3">
      <%= render partial: 'posts/form', locals: { post: @post } %>
      <%= link_to '글쓰기', new_post_path %>
  </div>
  <div class="box section3">
       <div class="scale-up-center4"> <div class="cs">역겨움</div> </div>
      <div class="scale-up-center5"> <div class="cs">두려움</div> </div>
  </div>

  <div class="box sidebar4"></div>
  <div class="box content4">
        <div class="scale-up-center6"> <div class="cs">놀람</div> </div>
        <div class="scale-up-center"> <div class="cs">기쁨</div> 
  </div>
  </div>
  <div class="box section4"></div>

  <div class="box sidebar5"></div>
  <div class="box content5">과거감정</div>
  <div class="box section5"></div>
</div>
  <!--<div class="box footer"> 
     <!-- <%= image_tag "logo_kor.png", size:"60x60"%>-->
  <!--    <br>-->
  <!--    Color your own color<br>-->
  <!--    Cheel</br>-->
  <!--    <a href="/policy/privacy" target="_blank" class="link_info">개인정보 처리방침</a>-->
  <!--      <small class="txt_copyright">-->
  <!--      <a href="http://google.com" class="link_corp" target="_blank">(c) Cheel-->
  <!--      </a> -->
  <!--      </small>  -->
  <!--</div>-->
  <!--</div>-->








<footer id="dkFoot" class="foot_cheel">
    <div class="inner_foot">
        <span class="ico_cheel ico_logo"></span>
        <%= image_tag "logo_kor.png", size:"80x80", style: "background-position:-200px 0; position:absolute; vertical-align:top;" %>
        <!-- position:absoulute/ background-position:-200px 0; vertical-align: top; -->
        <!-- class: "mx-auto d-block" -->
        <div class="area_quotation">
            <q class="txt_quotation">Color your own color</q>
            <span class="txt_by">Cheel</span>
        </div>
    <ul class="list_info">
        <li>
            <a href="/policy/privacy" target="_blank" class="link_info">개인정보 처리방침</a>
        </li>
    </ul>
    <small class="txt_copyright">
        <a href="http://google.com" class="link_corp" target="_blank">(c) Cheel
        </a> 
    </small>
    </div>
</footer>
<%# app/views/balloons/_form.html.erb %>




<!--
<script>
    $(document).ready(function() {
        $(".scale-up-centers").click(function() {
            var color = $(".scale-up-centers").css("background-color");
            $(".first_scale").css("background-color", color);
            $("#post_color").val(color);
        })
    })
</script>

<div class="scale-up-centers">center</div>
<div class="first_scale">qqq</div>&nbsp;&nbsp;
-->