<%= render partial: 'posts/form', locals: { post: @post } %>

<h1>칠칠칠</h1>

<div class="scale">
    <div class="scale-up-center"></div>&nbsp;&nbsp;
    
    <div class="scale-up-center2"></div>&nbsp;&nbsp;
    
    <div class="scale-up-center3"></div>&nbsp;&nbsp;
    
    <div class="scale-up-center4"></div>&nbsp;&nbsp;
    
    <div class="scale-up-center5"></div>&nbsp;&nbsp;
    
    <div class="scale-up-center6"></div>&nbsp;&nbsp;
    
    <div class="scale-up-center7"></div>
</div>

<%= link_to '글쓰기', new_post_path %>