   <div class="box">
    <div class="block2"> 
   
    <div class="down"> <a href="#page-3"><%= image_tag "down.png", size:"40x40" %></a></div>
    <div class="back"><%= image_tag "ba.jpg" %></div>
    </div>
     
    <div class="block3">
     <div class="wrapper">

  <!--<div class="box header">-->
    
  <!--</div>-->
  
  <!--<div class="box header2">-->
       
         
  <!--</div>-->
  
  <!--<div class="box header3">-->
        
  <!--</div>-->
 
  <div class="box sidebar1"></div>
  <div class="box content1">
    <div class="dep"><div class="sk2">감정색</div><br><div class="scale-up-center7"> <div class="cs">+</div>
  </div></div>
  </div>
  
  <div class="box section1"></div>

  <!--<div class="box sidebar2"></div>
  <div class="box content2">
       </div>
        
      

  <div class="box section2"></div>-->

  <div class="box sidebar3">
      <div class="scale-up-center2"> <div class="cs">분노</div> </div>
      <div class="scale-up-center3"> <div class="cs">슬픔</div> </div>
  </div>
  <div class="box content3">
      <%= render partial: 'posts/form', locals: { post: @post } %>
      <!--<%= link_to '글쓰기', new_post_path %>-->
  </div>
  <div class="box section3">
       <div class="scale-up-center4"> <div class="cs">역겨움</div> </div>
      <div class="scale-up-center5"> <div class="cs">두려움</div> </div>
  </div>

  <div class="box sidebar4"></div>
  <div class="box content4">
        <div class="scale-up-center6"> <div class="cs">놀람</div> </div>
        <div class="scale-up-center"> <div class="cs">기쁨</div> 
  </div>
  </div>
  <div class="box section4"></div>

 
    
    
  <div class="box section5"></div>
</div>

   
    <scroll-page id="page-3"></scroll-page>
    </div>
    
    <div class="block4">
      
    <div class="xxx">
    <div class="boxcolor">
      <div class="boxcolor2"></div>
    </div>    
    <div class="boxtit"></div> 
    <div class="boxcon"></div> 
    </div>
  
  
      <scroll-page id="page-4"></scroll-page></div>
    <div class="block5"><scroll-page id="page-5"></scroll-page></div>
    <div class="block6"><scroll-page id="page-6"></scroll-page></div>
  
   </div>
   
