<div class="boxxx">
 <div class="boxcolor" >
       <div class="boxcolor2"></div>
 </div>    
  <div class="boxtit" style="color:black;">
     <strong>Title:</strong>
     <%= @event.title %>
   </div> 
  <div class="boxcon"style="color:black;">
    <strong>Description:</strong>
    <%= @event.description %>
  </div> 
</div>
<div class="container" style="position:center;">
<%= link_to "Back", events_path, :class => "btn btn-outline-primary" %>
</div>