body{
    margin:0;
}

/*--nav--*/
/*.navv{
    background-color: #fff;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
    box-shadow: 8px 1px 5px #e2e0e0;
}*/


.header{
     grid-area: header;
    float: center;
    margin-top: 15px;
    justify-self: center;
    z-index: 2;
    word-spacing: 50px;
}

.he2{
  position:fixed;
  background-color: #fff;
}

.header2{
  word-spacing: 40px;
    z-index: 2;
    float: center;
    /* justify-self: center; */
    margin-top: 25px;
}

 
  .header3 {
    
}

.mov {
    position: fixed;
}





  A:link { text-decoration:none; }
  A:visited { text-decoration:none; }
  A:active { text-decoration:none; }
  A:hover {text-decoration:none;}

  .nav2:hover{
    color: #818e9c;
    cursor: pointer;

  }
  
  .nav3:hover{
    color: #818e9c;
    cursor:hand;
     cursor: pointer;
  }

/*-------------*/

.sidebar1 {
  grid-area: sidebar1;
}

.sidebar2 {
  grid-area: sidebar2;
}

.sidebar3 {
  grid-area: sidebar3;
  justify-self: end;
}

.sidebar4 {
  grid-area: sidebar4;
}

.sidebar5 {
  grid-area: sidebar5;
}

.section1 {
  grid-area: section1;
}

.section2{
  grid-area: section2;
}

.section3 {
  grid-area: section3;
}

.section4 {
  grid-area: section4;
}

.section5 {
  grid-area: section5;
}



.content1 {
  grid-area: content1;
  position: relative;
  
}

.content2 {
  grid-area: content2;
  position: relative;
  justify-self: center;
}

.content3 {
  grid-area: content3;
  position: relative;
}

.content4 {
  grid-area: content4;
  position: relative;
  display: flex;
}

.content5 {
  grid-area: content5;
  position: relative;
  display: inline-grid;
}


.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
  justify-content: center;
  background-color: #777575;
  padding: 20px;
      
}

.wrapper {
            position: absolute;
    width: 100%;
        text-align: center;
        display: grid;
       grid-template-rows: 40% 40% 20%;
       height: 100%;
        grid-template-columns: 35% 30% 35%;
        grid-template-areas:
        // "header  header2  header3"
        "sidebar1 content1 section1"
        // "sidebar2 content2 section2"
        "sidebar3 content3 section3"
        "sidebar4 content4 section4"
       ;
       
        color: #444;
      /*  width: 1349px;
        height: 1024px;*/
    }




.topleft {
  position: absolute;
  top: 0;
  left: 0;
}

.topright {
  position: absolute;
  top: 0;
  right: 0;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottomright {
  position: absolute;
  bottom: 0;
}

/*전체원*/
.scale{
    position: absolute;
    justify-content: center;
    margin-top: 30px;
    display:grid;
    width: 100%;
}

.cs{
  text-align:center;
  opacity:0;
  line-height: 80px;
  width: 80px;
  height: 80px;
}

.cs:hover{
  opacity:1;
  line-height: 80px;
  width: 80px;
  height: 80px;
  color: #fff;
}

/*개별원*/

.first_scale {
	-webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	background-color:black;
    width:100px;
    height: 100px;
    border-radius:50px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
}

.scale-up-center {
	-webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	  /* background:linear-gradient(to bottom right, #8B4513, #383737); */
	  
	background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
    width:80px;
    height: 80px;
    border-radius:50px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    margin-left: 70%;
    margin-top:-20%;
}

.scale-up-center2 {
	-webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    width:80px;
    height: 80px;
    border-radius:50px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    margin-top: -30%;
 
}

.scale-up-center3 {
	-webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    width:80px;
    height: 80px;
    border-radius:50px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    margin-top: 90px;
}

.scale-up-center4 {
	-webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
 background-blend-mode: multiply,multiply;
    width:80px;
    height: 80px;
    border-radius:50px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
 margin-top: -9%;
}

.scale-up-center5 {
	-webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    background-image: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
    width:80px;
    height: 80px;
    border-radius:50px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    margin-top: 90px;
}

.scale-up-center6 {
	-webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    width:80px;
    height: 80px;
    border-radius:50px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    margin-left: 80px;
}

.scale-up-center7 {
	-webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);

    width:80px;
    height: 80px;
    border-radius:50px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    margin: 0 auto;
}

/*원흔들기*/
.scale-up-center:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  
}


.scale-up-center2:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.scale-up-center3:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.scale-up-center4:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.scale-up-center5:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.scale-up-center6:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.scale-up-center7:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


.scale:hover .cs{
  display:block;
  
}


/* SCROLL */
::-webkit-scrollbar { width: 9px; z-index:2; position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    }

/* 스크롤바의 width */
 ::-webkit-scrollbar-track { display: none; }
/* 스크롤바의 전체 배경색 */
::-webkit-scrollbar-thumb { 
    background: linear-gradient(to bottom, #1697bf, #62b7ac)}
    
/* 스크롤바 색 */
::-webkit-scrollbar-button { display: none; }

/* 위 아래 버튼 (버튼 없애기를 함) */

// ::-webkit-scrollbar-thumb {border-radius:8px; }

.boxcolor{
      width: 250px;
    height: 50px;
 
  border:1px solid #e4e3e3;
  
      margin-top: 30px;
      margin: 0 auto;
}

.boxcolor2{
   width: 60px;
    height: 50px;
    background-color: #583232;
}

.boxtit{
  width: 250px;
    height: 50px;
  color:#fff;
  border:1px solid #e4e3e3;

      margin: 0 auto;
}

.boxcon{
  width: 250px;
    height: 250px;
  color:#fff;
  border:1px solid #e4e3e3;
 
      margin: 0 auto;
}

.dep{
    position: relative;
    width: 170px;
    /* padding-top: 20px; */
    margin: 0 auto;
    margin-top: 100px;
    /* float: left; */
    /* width: calc(33.3333% - 20px); */
    height: 150px;
    background-color: white;
    /* margin-right: 30px; */
    /* margin-bottom: 50px; */
    box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
    border-radius: 16px;
    overflow: hidden;

}

.for{
      margin-top: 30px;
}

.box.content4 {
    margin-top: 25px;
}

.sk2 {
    font-size: 10pt;
    /* padding-left: 5%; */
    padding-top: 5%;
    /* text-align: left; */
}



        // 영역
        .block2{
          width: 100%;
          height: 100vh;
          position: relative;
          overflow: hidden;
          font-size: 16px;
           background-color:#2e262e; 
           
        }
        .block3{
          width: 100%;
          height: 100vh;
          position: relative;
          overflow: hidden;
          font-size: 16px;
            background-color: #5138be;
        }
        .block4{
          width: 100%;
          height: 100vh;
          position: relative;
          overflow: hidden;
             
          font-size: 16px;
          background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
 background-blend-mode: multiply,multiply;
        }
        
        .box{
          display:block;
        
        }


        // 네비 
        .navv{
            z-index: 1;
            display: flex;
            position: fixed;
            padding-top: 16px;
            width: 100%;
            height: 20%;
        }
        
        .logog {
            /* position: fixed; */
            padding-left: 20%;
                height: 20%;
                    padding-left: 3%;
        }
        
        .nav0 {
            display: flex;
            line-height: 300%;
            float: right;
            margin-right: 10%;
            margin: 0 auto;
            color: #fff;
            word-spacing: 23px;
            margin: 0 77%;
        }
        
        .link1{
            font-family: MaisonNeue,Helvetica Neue,Helvetica,Arial,sans-serif;
            border: 1px solid transparent;
            border-color: rgba(255, 255, 255, 0.24);
            padding: 0 16px;
            padding-top: 10px;
            font-size: 10pt;
            padding-bottom: 10px;
            border-radius: 40px;
        }
        
        .link1:hover{
            border-color: #fff;
        }
        
        .link2:hover{
            border-color: #fff;
        }
        
        .link2{
            font-family: MaisonNeue,Helvetica Neue,Helvetica,Arial,sans-serif;
            border: 1px solid transparent;
            border-color: rgba(255, 255, 255, 0.24);
            padding: 0 16px;
            padding-top: 10px;
            font-size: 10pt;
            padding-bottom: 10px;
            border-radius: 40px;
        }
        
        
   
   
   
   .mov, scroll-container {
  display: block;
  margin: 0 auto;
  text-align: center;
    }
    
    .mov {
      word-spacing: 40px;
      display: flex;
      top: 7%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
scroll-container {
  display: block;
  width: 350px;
  height: 200px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
scroll-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 5em;
}

a.a {
    color: rgba(255, 255, 255, 3);
    text-decoration:none;
}

a.a:hover {
    color: #fff;
    text-decoration:none;
}

a.b {
    color: rgba(255, 255, 255, 3);
    text-decoration:none;
}
a.b:hover {
    color: #fff;
    text-decoration:none;
}

a.c {
    color: rgba(255, 255, 255, 3);
    text-decoration:none;
}
a.c:hover {
    color: #fff;
    text-decoration:none;
}

a.d {
    color: rgba(255, 255, 255, 3);
    text-decoration:none;
}
a.d:hover {
    color: #fff;
    text-decoration:none;
}

.down {
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 50%;
}


.xxx {
    height: 100vh;
    /* top: 50%; */
    margin-top: 15%;
}