// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.for {
    justify-content: center;
    display: flex;
}

.date_content { background-color: yellow; }

.radio-group .radio{
    float:left;
    width:50px;
    height:20px;
    line-height:20px;
    text-align:center;
    background: red;
    margin:2px;
    cursor:pointer;
}

.radio.selected {
    background:#00cc00;
}
