          <div class="navv">
            
          <div class="logog">
          <%= image_tag "logo_kor.png", size:"50x50" %>
          </div>
           
           
          <button class="he2" onclick="fnMove('1')">오늘</button>&nbsp;
          <button class="he2" onclick="fnMove('2')">글쓰기</button>&nbsp;
          <button class="he2" onclick="fnMove('3')">과거</button>&nbsp;
          
         
         <div class="nav0">
          
        <% if user_signed_in? %>
          <div class="nav1">
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>  
          </div>        
        <% else %>
          <div class="nav2">
            <a class="link1" data-toggle="modal" data-target="#signUpModal">SignUp</a>&nbsp;
          </div>
          <div class="nav3">
            <a class="link2" data-toggle="modal" data-target="#logInModal">LogIn</a>
          </div>
       
          
        <% end %>
        
    
         </div>
</div>