<div class="navv">

    <div class="logog">
    <%= image_tag "logo_kor.png", size:"50x50" %>
    </div>


    <nav class="mov">
        <a class="a" href="#page-3">오!늘</a>&nbsp;</a>
        <a class="b" href="#page-3`">*글쓰기</a>&nbsp;</a>
        <a class="c" href="#page-4">예-전</a>&nbsp;</a>
        <a class="d" href="#page-5">:타임라인</a>
    </nav>

    <div class="nav0">
        <% if user_signed_in? %>
            <div class="nav1">
                <%= link_to('Logout', destroy_user_session_path, method: :delete, :class => "link3") %> 
                <%= link_to('Edit', "#", :class => "link3", :data => { toggle: "modal", target: "#EditModal"}) %>
            </div>      
        <% else %>
            <div class="nav2">
            <a class="link1" data-toggle="modal" data-target="#signUpModal">Sign:in</a>&nbsp;
            </div>
            <div class="nav3">
            <a class="link2" data-toggle="modal" data-target="#logInModal">Log:in</a>
            </div>
        <% end %>
    

    
    </div>  
</div>

