<header class="navv navbar-fixed-top" style="background-color:pink; ">
  <div class="logog">
    <%= image_tag "logo_kor.png", size:"50x50" %>
</div>

<nav class="mov">
    <a class="a" href="#page-3">TODAY</a>&nbsp;</a>
    <a class="b" href="#page-3`">WRITE&nbsp;</a>
    <a class="c" href="#page-4">RANDOM</a>&nbsp;</a>
    <% if user_signed_in? %>
        <a class="d" href='events'>TIMELINE</a>
    <% else %>
        <%= link_to('TIMELINE', "#", :class => "d", :data => { toggle: "modal", target: "#logInModal"}) %>
    <% end %>
</nav>

<div class="nav0">
    <% if user_signed_in? %>
        <div class="nav1" style="width:200px;">
            <%= link_to('Logout', destroy_user_session_path, method: :delete, :class => "link3") %> 
            <%= link_to('Edit', "#", :class => "link3", :data => { toggle: "modal", target: "#EditModal"}) %>
        </div>      
    <% else %>
        <div class="nav2" style="width:150px;">
        <a class="link1" data-toggle="modal" data-target="#signUpModal">SignUp</a>&nbsp;
        </div>
        <div class="nav3">
        <a class="link2" data-toggle="modal" data-target="#logInModal">LogIn</a>
        </div>
    <% end %>


</div>

</header>